.nav {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(144, 181, 23);
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 25px;
}
