.boxes {
  display: flex;
  /* justify-content: center; */
  min-height: 100vh;
  align-items: center;
  padding: 30px 30px;
}
.boxes div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 8px 8px 8px rgb(177, 176, 176);
}
.boxes img {
  height: 200px;
  width: 200px;
}
.boxes h2 {
  text-align: center;
}
.boxes p {
  text-align: center;
  font-size: 20px;
}
